:root {
  --color-background: #E9F2F6;
  --color-background-card: #FFFFFF;
  --color-border: #EDEFF1;
  --color-background-action-bar: #0338A5;
  --color-text-action-bar: #FFFFFF;
  --color-text: #687F9A;
  --color-text-strong: #00072E;
}

body {
  margin: 0;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-background);
  color: var(--color-text);
}

* {
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

